
*, h1,h3{
    font-family: "Gilroy", serif !important;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bg-light{
    background-color: #b1b7be!important;
}
a {
    color: inherit;
    text-decoration: none !important;
}
a:hover{
    color: inherit;
}
h3{
    font-size: 17px;
}
#bloc1 {
    background-color: rgb(255, 204, 0);
}

#bloc2 {
    background-color: rgb(0, 255, 60);
}

#bloc3 {
    background-color: rgb(187, 0, 255);
}

#bloc4 {
    background-color: rgb(0, 196, 255);
}


.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5);
  }

.bloc {
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    float: left;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}

.description{
    margin: 20px;
}

 /* Styles du carousel */
 .carousel-container {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    justify-content: space-between;
    padding: auto;
    
}

.carousel-slide {
    display: flex;
    width: 100%;
    transition: all 0.3s ease;
    align-items: center;
}

.carousel-image {
    min-width: 20rem;
}